<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список клиентов</title>
    <link rel="stylesheet" href="{{ href('/styles.css') }}"/>
</head>
<body>
    <div class="container">
        <h1>Система кредитования</h1>
        <nav>
            <ul>
                <li><a href="/applications/apply.html">Оформить заявку</a></li>
                <li><a href="/clients/clients.html">Список клиентов</a></li>
                <li><a href="/clients/searchClient.html">Поиск клиента</a></li>
                <li><a href="/applications/applications.html">Список заявок</a></li>
                <li><a href="/agreements/agreements.html">Список кредитных договоров</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h1>Список клиентов</h1>
        <table>
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Паспорт</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody>
            {% for client in listClients %}
                <tr>
                    <td>{{client.getFullName()}}</td>
                    <td>{{client.getPassport()}}</td>
                    <td>{{client.getPhone()}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
