<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решение по кредиту</title>
    <link rel="stylesheet" href="{{ href('/styles.css') }}"/>
</head>
<body>
    <div class="container">
        <h1>Система кредитования</h1>
        <nav>
            <ul>
                <li><a href="/applications/apply.html">Оформить заявку</a></li>
                <li><a href="/clients/clients.html">Список клиентов</a></li>
                <li><a href="/clients/searchClient.html">Поиск клиента</a></li>
                <li><a href="/applications/applications.html">Список заявок</a></li>
                <li><a href="/agreements/agreements.html">Список кредитных договоров</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h1>Решение по кредиту</h1>
        <p>Статус заявки: <strong>{{application.decisionStatus}}</strong></p>
        {% if application.isApproved %}
            <p>Одобренная сумма кредита: <strong>{{application.approvedAmount}}</strong> руб.</p>
            <p>Предлагаемый срок: <strong>{{application.loanTermDays}}</strong> д.</p>
            <button><a href = "/agreements/{{application.applicationId}}/signContract.html">Подписать договор</a></button>
        {% endif %}
    </div>
</body>
</html>
